/* NavbarLeft.css */
.navbar-container {
    position: Fixed;
    top: 0;
    left: 64px; /* Adjust this value to match the width of your SlidingMenu */
    width: 190px; /* Adjust the width as needed */
    height: 100%;
    background-color: #dfe1e6;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: absolute;
    left: -280px;
    transition: left 0.3s ease;
  }
  
  .navbar-visible .navbar-container {
    left: 0;
  }
  